*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
}
.box1{
    width: 100%;
    height: 311px;
    flex-shrink: 0;
    background: #710000;
}
.box2{
    width: 100%;
    height: 832px;
    background: #404040;
}
img{
    width: 213px;
    height: 204px;
    position: absolute;
    margin-top: 209px;
    margin-left: 68px;
}